<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="posts">Posts</a>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="new-post">New post</a>
      </li>
    </ul>
  </div>
</nav>
