<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>
        Welcome to {{ blogTitle }}!
      </h1>
      <div class="firebase">Powered by Firebase</div>

      <!--<app-post-list [posts]="posts"></app-post-list>-->
    </div>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
