<div class="post" (click)="onView()">
  <p class="title">{{post.title}}</p>
  <p class="creation-date">Created on {{post.created_at| date: 'dd/MM/yyyy hh:mm'}}</p>
  <p>{{post.content}}</p>


  <!--Buttons-->
  <button class="btn btn-success" (click)="onLove(true)">Love it!</button>&nbsp;
  <button class="btn btn-danger" (click)="onLove(false)">Don't Love it!</button>
  <a class="icon-delete" (click)="onDelete()" title="Delete Post"><span class="glyphicon glyphicon-remove"></span></a>
</div>
