.post{
  cursor: pointer;
  .title{
    font-weight: bold;
    font-size: 120%;
  }
  .creation-date{
    margin-top: -0.5em;
    font-size: 80%;
    opacity: .7;
  }
  .icon-delete{
    position: absolute;
    right: 1em;
    top: 0.5em;
    font-size: 120%;
  }
}
