<ul class="list-group">
  <li *ngFor="let post of posts let i = index" [ngClass]="{'list-group-item': true,
  'list-group-item-success': post.loveIts > 0,
  'list-group-item-danger': post.loveIts < 0}">
     <app-post-list-item [post]="post" [idx]="i"></app-post-list-item>
  </li>
</ul>
