<div class="row">
  <div class="col-sm-12 col-md-6">
    <!--<div class="metadata">Posted on 11/01/2019 13:46</div>-->
    <div class="title">{{post.title}}</div>

    <blockquote>
      <p class="quotation">
      <p>{{post.content}}</p>
      <footer class="pull-right">
        {{post.created_at| date: 'dd/MM/yyyy hh:mm'}}
      </footer>
    </blockquote>
    <button class="btn btn-success" (click)="onLove(true)">Love it!</button>&nbsp;
    <button class="btn btn-danger" (click)="onLove(false)">Don't Love it!</button>


    <button class="btn btn-primary pull-right" (click)="onReturn()">Return</button>

  </div>
</div>


