.metadata {
  opacity: 0.7;
}

.title {
  font-weight: bold;
  margin-bottom: 0.5em;
}
blockquote{
}

blockquote:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #ccc;
  font-size: 3em;
}
